.container {
  display: flex;
  gap: 1.5rem;
  height: 100%;
  padding: 1.5rem;
}
.container {
  display: flex;
  gap: 1.5rem;
  height: 100%;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}